@import url("https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Harmattan", sans-serif;
  font-weight: normal;
  background-color:bisque;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Harmattan", "Courier New", monospace;
}

.App {
  height: 100vh;
}

.homepage,
.calculator-page,
.quote-page {
  height: auto;
  min-height: 76.9%;
}

Footer {
  background: #858693;
  color: #fff;
  text-align: right;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
